.escena-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  width: 100%;
  max-width: 350px; // Ajusta este valor según sea necesario
  height: 600px; // Ajusta la altura total según sea necesario
  border-radius: 15px; // Redondear las esquinas
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-header img {
  width: 100%;
  height: 300px; // Aumentar la altura de la imagen
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover; // Asegura que la imagen cubra el contenedor sin distorsionarse
}

.card-body {
  min-height: 150px; // Ajusta según sea necesario
  padding: 1.5rem; // Añadir padding para espacio interno
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; // Justificar el texto a la izquierda
  flex-grow: 1;
}

.card-title {
  font-size: 1rem; // Ajusta el tamaño de la letra aquí
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem; // Ajusta el tamaño de la letra aquí
  color: #555;
  text-align: left; // Justificar el texto a la izquierda
}

.card-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; // Añadir espacio entre los botones
}

button.round-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

button.round-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.round-button:enabled {
  background-color: black;
  color: white;
}

